.body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}


.home-con{
  max-width: 100%;
}
.home-container {
 background-image: url(/images/modif.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  }

  


  .hero-content {
    margin-top: 50px;
    color: rgb(235, 238, 239);
    text-align: center;
    text-decoration: italic;
    text-shadow: #f35b04;
    filter: brightness(3px);
    padding: 3rem;
    padding-top: 60px;
    font-size: large;
  }

  .h1 {
    color: rgb(251, 108, 6);
    text-align: center;
    text-decoration: italic;
    text-shadow: #f35b04;
  }
  
  .cta-btn {
  
    border-radius: 8px;
    color: rgb(251, 108, 6);}


  .content-box {
    background-color: rgb(31, 21, 21);
    color: white;
    margin-bottom: 40px;
  }
 
  .vh {
    color: rgb(251, 98, 3);
  }

  

  .fe {
    background-color: white;
    padding-left: 50px;
  }
/* parent */
  .parent-div {
    background-color:  #3d348b;
    color: rgb(1, 4, 7);
    text-align: left;
    margin-top: 4px;
    margin-bottom: 40px;
    border-bottom: 6px;
    border-radius: 6px;
    display: auto;
  }

  .section-1, 
  .section-2,
  .section-3,
  .section-4 {
    flex: 1;
    padding: 20px;
  }

  .pr {
    color: white;
  }

  .circle-image {
    width: 70%;
    padding-left: 1.1rem;
    height: 80%;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    object-fit: cover;
  }

  

  .tec {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    flex-wrap: wrap;
}

.tec {
    flex: 1;
    max-width: 50px;
    padding: 15px;
}

.tec img {
    width: 60px;
    margin-bottom: 10px;
    
}
  
  .cta-btn {
    justify-content: space-between;
    row-gap: 10px;
    display: flex;
    flex-direction: row;
  }

  .cta {
    background-color: #f35b04;
    width: 120px;
    border-radius: 8px;
    gap: 20px;
    padding: 0.5px;
    color:  rgb(242, 245, 246);
  }
  
  .community {
    background-color: #3d348b;
    border-radius: 6px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-top: 10px;
  }

  .known {
    color: #000;
    padding-top: 30px;
    text-align: center;
    
  }

 
  .trend {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #f35b04;
    border: 1px solid #3d348b;
    border-radius: 20px;
    font-style: italic;
    font-size: larger;
    transition: transform 0.3s ease, box-shadow 0.4s ease;
  }

  .trend:hover {
   transform: translateY(-8px);
    color: #f9f8fd;
  }

  .cha {
    color: white;
  }

  .top-c {
    margin-left: 20px;
  }

  .na-course {
    color: #f35b04
  }
 /* computer icons */
  .computer {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
    border-radius: 7px;
   
    font-size: 50px;
    color: #f9f8fd;
  }

  .reach {
    padding-right: 20px;
    color: #030208;
    padding-bottom: 20px;
  }

 .features {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  flex-wrap: wrap;
  font-size: 1.2rem;
}

.feature {
  flex: 1;
  max-width: 300px;
  padding: 15px;
}

.feature img {
  width: 60px;
  margin-bottom: 10px;
  margin-left: 35%;
}


 .trust {
  color: #f35b04;
  margin-left: 30%;
 }

 

 /* Support */
 .support {
 background-color: #c2c0cd;
 margin-bottom: 10%;
padding-top: 10px;
padding-bottom: 10px;
 border-radius: 8px;
 padding-left: 10px;
}

.need {
  margin-left: 30%;
}

.reach {
  display: grid;
  color: #030000;
  padding-left: 40px;
  gap: 5px;
  padding: 0.5px;
  margin-inline-start: 30px;

}

/* upcomingevent*/
.upcomingeven-section {
text-align: center;
}

.upcoming-container {
  background-color: #f9f8fd;
  display: flex;
  flex-wrap: wrap;
  font-size: 17px;
  color: #04020e;
  padding-top: 10px;
  padding-left: 2.6rem;
  width: 80%;
} 


.upcomingevent-t {
  height: 300px;
  list-style: none;
  width: 310px;
  box-shadow: 0px 4px 6px rgb(28, 19, 108);
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: calc(150vw - 150px);
  
}


.upcomingevent-t:hover{
  transform: translateY(-5px);
  color: #3d348b;
}

/*Reserve space for me */
.boo {
  display: flex;
  width: 300px;
  text-align: center;
  border: solid #3d348b;
  margin-top: 20px;
  border-top-color:#f35b04 ;
  border-right-color: #f35b04;
  font-size: 1.2rem;
  margin-left: 2.6rem;
  border-radius: 5px;
  background-color: #f9f8fd;
  color: #000;
  padding-left: 50px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.boo:hover {
 transform: translateY(15px); 
}